/* Tai khoan khi đăng nhập */
.user{
    max-height: 100vh;
    position: sticky;
}

.header-img{
    width: 200px;
}

.header-btn{
    height: 40px;
    text-align: center;
}

.user-new{
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border: 2px solid #545456;
    border-radius: 10px;
    text-align: center;
}

.user-new a{
    color: var(--primary-color-2);
}


.user-list-menu{
    height: 100vh;
    width: 20%;
    background:#111222;
}

.scroll{
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color-2);
    border-radius: 15px;
    height: 20px;
}

.user-menu-topic{
    position: sticky;
    height: 78vh;
    padding: 24px 0;
}


.topic-list-title{
    color: #545456;
    font-size: 14px;
    padding-left: 8px;
    font-weight: 600;
    
}

.topic-list-item{
    padding: 10px 8px;

}

.topic-list-item a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.topic-item-name{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 180px;

}

.topic-list-item:hover,  
.user-account-info:hover{
    background-color: #3d3d3e;
    border-radius: 5px;
}

.topic-item-icon button{
    all: unset;
    padding-left: 8px;


}

.user-account{
    padding: 8px 0 8px 8px;
    border-top: 1px solid #545456;
    top: 0;
    position: sticky;
    overflow: hidden;
    z-index: 1;
}

.user-account a{
    text-decoration: none;
}

.user-account-title{
    color: #545456;
    margin: 16px 0;
    padding: 16px 0;

}

.account-btn{
    background: none;
    margin-top: 16px;
    border: none;
    padding: 8px 0;
    outline: none;
}

.account-btn:focus, .chatPDF-message-btn:focus{
    outline: none;
}
.user-account-box-img {

    font-weight: 600;
    color: white;

}

.user-account-box-img span{
    padding: 8px;
    background-color: var(--primary-color-2);
}

.account-btn{
    padding: 8px 0;
}

.user-account-name{
    margin-left: 8px;
    color: white;
    font-weight: 600;
}

.user-chatPDF{
    width: 80%; 
    position: relative; 

}

.background-image {
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 400px;
    height: 400px;
    top: -70%;
    left: 30%;
    object-fit: scale-down;
    opacity: 0.1;
}

.user-chatPDF-conversation{
    position: sticky;
    height: 85vh;
}

.user-chat, .chat-chat{
    border-bottom: 1px solid #b3b3b5;
    padding: 16px 150px;

}

.chat-chat{
    background-color: #b9b9bd;
}

.chat-tk span{
    background-color: var(--primary-color-2);
    padding: 8px;
    color: white;
    font-weight: 600;
}

.chat-AI span{
    background-color: var(--primary-color);
    color: white;
    padding: 8px 10px;
}

.chat-item{
    margin: 8px;
    color: var(--primary-color);
}

.chat-chat .chat-item{
    color: var(--primary-color-2);
}

.chatPDF-message{
    margin: 32px 150px;
    bottom: 32px;
    border-radius: 25px;
    cursor: text;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #545456;
    padding: 0 16px;
    background-color: white;
}

.chatPDF-message textarea{
    border: none;
    width: 100%;
    resize: none;
    outline: none;
    padding: 6px 0;
    margin-right: 8px;
}

.chatPDF-message-btn{
    all:unset;
    color: #757575;
}

/* Tài khoản khi không đăng nhập */

.notaccount{
    background-color: #111222;
    padding: 16px;
    bottom: 0;
    float: inline-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

.notaccount h4{
    color: var(--primary-color-2);
    margin: 24px 0;
}

.notaccount-list li{
    padding: 10px 0;
    color: #757575;
}

.notaccount-list li:hover{
    color: white;
}