{% extends 'base.html'%} {% block content %}
<section
  class="row d-flex flex-column align-items-center text-white home-chat"
>
  <h1 class="text-center my-5 home-chat-header">Phenikaa Chat PDF</h1>
  <div class="d-flex col-8 align-items-center home-chat-background">
    <div class="home-chat-image">
      <img
        src="{{url_for('static', filename='images/Logo-DH-Phenikaa-V-Bl.webp')}}"
      />
    </div>
    <div class="home-chat-box">
      <h3 class="text-center">Chatbot Trường Đại Học Phenikaa</h3>
      <p class="mt-3" style="font-size: 18px">
        Đây là một sản phẩm của nhóm sinh viên k15 IT Trường Đại Học Phenikaa. Đến với chúng tôi bạn có thể tra cứu toàn
        bộ những thông tin liên quan đến Trường Đại Học Phenikaa.
       </p>
    </div>
  </div>

  <div class="home-chat-btn">
    <a href="#usernot" class="btn mr-5 home-btn-text" style="border: none">Chat Ngay</a>
    <a href="{{url_for('login')}}" class="btn ml-5 home-btn-text js-login-btn"
      >Đăng Nhập</a
    >
  </div>

  <aside class="usernotacction mt-5" id="usernot">
    <div class="row">
        <div class="col col-lg-3">
            <h3>Câu hỏi thường gặp</h3>
            <ul class="list-group ml-3">
                <li class="">Tôi muốn xem thông tin tuyển sinh năm nay?</li>
                <li class="">Điểm trúng tuyển của năm nay là?</li>
                <li class="">Thông tin về trường đại học phenikaa là?</li>
            </ul>
        </div>
        <div class="col overflow-scroll home_message">
          <div class="float-left">
            <span>Hi!what can I help you width?</span>
          </div>

        </div>
    </div>
  </aside>
</section>
{% endblock %}
